*{
    margin:  0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #df1e1e;
    color: white;
    font-weight: bolder;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
#toast.show {
visibility: visible;
opacity: 1;
}
  
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
        180deg, #1e1d1d, #212021
    );
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #070707d2;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
          /* top left-right bottom */
    border-radius: 20px;

    /* Glass effect */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.78);
}

.todo-app h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
}

.todo-app img{
    width: 45px;
    margin-top: 3px;    
    margin-bottom: -5px;    
    margin-left: 10px;
}

.row{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    padding: 5px;
    padding-left:10px;
    margin-bottom: 25px;
}

input{
     flex: 1; /* The input area can take up full length. */
     border: none;
     outline: none;
     background:transparent;
     font-size: 16px;
     font-weight: 400;
     padding:  10px 5px;
}

button{
    border: none;
    outline: none;
    background: #fff43f;
    color: black;
    font-size: 14px;
    padding: 11px 15px;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s ease;
}

button:hover{
    background: #ec3131;
    color: white;
}

ul li{
    position: relative;
    word-break: break-word;
    top: 1px;
    padding: 12px 50px 12px 50px;
    color: white;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
    user-select: none;
    transition: .4s ease;
    margin-bottom: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(images/unchecked-white.png);
    background-size: cover;
    background-position: center;
    top: 9px; 
    left: 10px;

}

ul li.checked{
    background-color: yellow;
    color: black;
    border-radius: 10px;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 10px;   
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    font-size: 40px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;     
    transition: .3s ease;
}

ul li span:hover{
    color: #e61010;
}